{% extends 'base.html.twig' %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/form.css') }}">
{% endblock %}

{% block body %}
<h1 class="h3 my-3 font-weight-normal">Connexion</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="form">
        {% if app.user %}
        <div class="form-row">
            Vous êtes déjà connecté en tant que {{ app.user.username }}.
        </div>
        <div class="outform">
            <a href="{{ path('app_logout') }}" class="btn-outline">Déconnexion</a>
        </div>
        {% else %}
        <form method="post" class="form-box">
            <div class="form-row">
                <label for="inputEmail">Adresse email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input-round" autocomplete="email" required autofocus>
            </div>

            <div class="form-row">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="input-round" autocomplete="current-password" required>
            </div>
        
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
        
            {# <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_keep_login" checked/> Se souvenir de moi 
                </label>
            </div> #}
            <div class="outform">
                <button class="btn-validate" type="submit">
                    Connexion
                </button>
                <a href="{{ path('user_register') }}" class="btn-outline">Créer un compte</a>
                <a href="#">Mot de passe oublié ?</a>
            </div>

        </form>
        {% endif %}
    </div>
    

{% endblock %}
