{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/form.css') }}">
{% endblock %}

{% block title %}Réinitaliser votre mot de passe{% endblock %}


{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class="h3 my-3 font-weight-normal">Réinitaliser votre mot de passe</h1>
    <div class="form">
        {{ form_start(requestForm) }}
        <div class="form-row">
            {{ form_row(requestForm.email) }}
        </div>
            <div>
                <small>
                    Entrez votre adresse email afin que nous vous envoyons un lien pour réinitialiser votre mot de passe.
                </small>
            </div>
            <div class="outform">
                <button class="btn-outline">Envoyer l'email</button>
                {{ form_end(requestForm) }} 
            </div>
    </div>


{% endblock %}
