{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Trouver une colocation, un colocataire facilement et gratuitement{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/main/card.css') }}">{% endblock %}
{% block body %}
<h1 class="text-center fs-3 my-4">Trouvez votre colocation en 1 clic</h1>
<main class="container">
    <!-- Nouveaux logements -->
    <div class="row mb-2">
        <div class="col header-section">
            <h2 class="fs-5">Derniers logements</h2>
            <a href="{{ path('flat_allFlat') }}">Voir plus<ion-icon name="chevron-forward-outline"></ion-icon></a>
        </div>
    </div>
    <div class="row row-cols-2 row-cols-lg-4 g-4">
        {% for flat in lastFlat %}
        <div class="col">
            <a href="{{ path('flat_show', {id: flat.id}) }}" class="link-card">
                <div class="card h-100">
                    <div class="card-flat-top">
                        <span class="freeplace">{{ flat.freespace }} {{ (flat.freespace < 2) ? 'place' : 'places' }}</span>
                        <strong class="rent">{{ flat.rent |format_currency('EUR', {fraction_digit: 0}) }}</strong>
                        <img src="{{ flat.images[0] }}"  alt="Colocation {{ flat.type }} {{ flat.city }} {{ flat.surface }} m2">
                    </div>
                <div class="card-flat-info">
                    <div>
                        <h3 class="card-flat-title">{{ flat.type }}</h3>
                        <span class="card-flat-subtitle">{{ flat.city }}</span>
                    </div>
                    <div>
                        <span class="flat-surface">{{ flat.surface }} m2</span>
                        <span class="flat-place">{{ flat.totalspace }} pers</span>
                    </div>
                </div>
                <!-- <button class="btn-see-more"><span class="see-more">Découvrir </span></button> -->
                </div>
            </a>
        </div>
        {% endfor %}

    </div>

    <!-- Nouveaux inscrits -->
    <div class="row mt-5 mb-2">
        <div class="col header-section">
            <h2 class="fs-5">Les nouveaux coolok</h2>
            <a href="">Voir plus<ion-icon name="chevron-forward-outline"></ion-icon></a>
        </div>
    </div>
    <div class="row row-cols-2 row-cols-sm-3  row-cols-lg-6 g-4">
        {% for user in newUser %}
        <div class="col">
            <a href="#" class="link-card">
                <div class="user-card">
                    <div class="card-user-top">
                        <img src="{{ user.picture }}" alt="Photo {{ user.firstname }}">
                    </div>
                    <div class="card-user-info">
                        <div>
                            <h3 class="card-user-title">{{ user.firstname }} {{ user.lastname|u.truncate(1) }}.</h3>
                        </div>
                        <div>
                            <span class="card-user-subtitle">{{ user.city }}</span>
                            <span class="user-age">26 ans</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>

    <!-- Concept -->
    <div class="px-4 py-5 mt-5 text-center">
        <img class="d-block mx-auto mb-4 logo-min" src="https://coolokbucket.s3.eu-west-3.amazonaws.com/images/logo_coolok.png" alt="Logo">
        <h3 class="fs-4 fw-bold">Le concept Coolok</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-2">Partagez bien plus qu'un loyer ! Avec Coolok, trouvez gratuitement la colocation de vos rêves en un clic. Découvrez les logements proches de vous et rencontrez vos futurs colocataires. Construisez la colocation qui vous ressemble et qui vous rassemble. </p>
        </div>
    </div>

    <!-- Logements Mixte -->
    <div class="row mt-5 mb-2">
        <div class="col header-section">
            <h2 class="fs-5">Colocations mixte</h2>
            <a href="{{ path('flat_mixedFlat') }}">Voir plus<ion-icon name="chevron-forward-outline"></ion-icon></a>
        </div>
    </div>
    <div class="row row-cols-2 row-cols-lg-4 g-4">
        {% for flat in mixedFlat %}
        <div class="col">
            <a href="{{ path('flat_show', {id: flat.id}) }}" class="link-card">
                <div class="card h-100">
                    <div class="card-flat-top">
                        <span class="freeplace">{{ flat.freespace }} {{ (flat.freespace < 2) ? 'place' : 'places' }}</span>
                        <strong class="rent">{{ flat.rent |format_currency('EUR', {fraction_digit: 0}) }}</strong>
                        <img src="{{ flat.images[0] }}"  alt="Colocation {{ flat.type }} {{ flat.city }} {{ flat.surface }} m2">
                    </div>
                <div class="card-flat-info">
                    <div>
                        <h3 class="card-flat-title">{{ flat.type }}</h3>
                        <span class="card-flat-subtitle">{{ flat.city }}</span>
                    </div>
                    <div>
                        <span class="flat-surface">{{ flat.surface }} m2</span>
                        <span class="flat-place">{{ flat.totalspace }} pers</span>
                    </div>
                </div>
                <!-- <button class="btn-see-more"><span class="see-more">Découvrir </span></button> -->
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <!-- Nouveaux logements -->
    <div class="row mt-5 mb-2">
        <div class="col header-section">
            <h2 class="fs-5">Colocations meublées</h2>
            <a href="{{ path('flat_furnishedFlat') }}">Voir plus<ion-icon name="chevron-forward-outline"></ion-icon></a>
        </div>
    </div>
    <div class="row row-cols-2 row-cols-lg-4 g-4">
        {% for flat in furnishedFlat %}
        <div class="col">
            <a href="{{ path('flat_show', {id: flat.id}) }}" class="link-card">
                <div class="card h-100">
                    <div class="card-flat-top">
                        <span class="freeplace">{{ flat.freespace }} {{ (flat.freespace < 2) ? 'place' : 'places' }}</span>
                        <strong class="rent">{{ flat.rent |format_currency('EUR', {fraction_digit: 0}) }}</strong>
                        <img src="{{ flat.images[0] }}"  alt="Colocation {{ flat.type }} {{ flat.city }} {{ flat.surface }} m2">
                    </div>
                <div class="card-flat-info">
                    <div>
                        <h3 class="card-flat-title">{{ flat.type }}</h3>
                        <span class="card-flat-subtitle">{{ flat.city }}</span>
                    </div>
                    <div>
                        <span class="flat-surface">{{ flat.surface }} m2</span>
                        <span class="flat-place">{{ flat.totalspace }} pers</span>
                    </div>
                </div>
                <!-- <button class="btn-see-more"><span class="see-more">Découvrir </span></button> -->
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <!-- Villes -->
    <div class="row mt-5 mb-2 text-center">
        <div class="col">
            <h2 class="fs-5">Colocations par ville</h2>
        </div>
    </div>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 row-cols-lg-6 g-4">
        <div class="col">
            <a href="#" class="link-card">
                <div class="card-city-top">
                    <img src="https://via.placeholder.com/200x200" alt="...">
                </div>
                <h3 class="card-city-name">Lille</h3>
            </a>

        </div>
        <div class="col">
            <a href="#" class="link-card">
                <div class="card-city-top">
                    <img src="https://via.placeholder.com/200x200" alt="...">
                </div>
                <h3 class="card-city-name">Lille</h3>
            </a>

        </div>
        <div class="col">
            <a href="#" class="link-card">
                <div class="card-city-top">
                    <img src="https://via.placeholder.com/200x200" alt="...">
                </div>
                <h3 class="card-city-name">Lille</h3>
            </a>

        </div>
        <div class="col">
            <a href="#" class="link-card">
                <div class="card-city-top">
                    <img src="https://via.placeholder.com/200x200" alt="...">
                </div>
                <h3 class="card-city-name">Lille</h3>
            </a>

        </div>
        <div class="col">
            <a href="#" class="link-card">
                <div class="card-city-top">
                    <img src="https://via.placeholder.com/200x200" alt="...">
                </div>
                <h3 class="card-city-name">Lille</h3>
            </a>

        </div>
        <div class="col">
            <a href="#" class="link-card">
                <div class="card-city-top">
                    <img src="https://via.placeholder.com/200x200" alt="...">
                </div>
                <h3 class="card-city-name">Lille</h3>
            </a>

        </div>
    </div>


</main>
{% endblock %}

