{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Trouver une colocation, un colocataire facilement et gratuitement{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/flat/flat.css') }}">{% endblock %}
{% block script %} <script src="{{ asset('js/mail.js') }} " defer></script> {% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            {% for key, image in flat.images %}
            <div {% if key == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %} style="background-image: url({{image}})">
                <!-- <img src= {{ image|e }}  class="img-fluid" alt="..."> -->
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    <!-- {% for key, image in flat.images %}

        <div>
            <img src= {{ image|e }}  class="d-block w-100" alt="...">
        </div>

    {% endfor %} -->
</div>

<br>

<div class="row justify-content-center">
    <div class="col col-xl-8">
        <h1>{{ flat.type }} - {{ flat.surface }}m² - {{ flat.totalSpace }}Pers</h1> 
        <div class="sub-title">
            <p>Proposé par {{flat.owner.firstname}} - 
                <a href="{{ path('user_view_Profil', {id: flat.owner.id} )}}">Voir son profil</a>
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </p>
            <span>
                {% if app.user %}
                <a href="{{ path('flat_favorite', { id:flat.id })}} ">
                    {% if isFav %}
                    <i class="fas fa-heart"></i>
                    {% else %}
                    <i class="far fa-heart"></i>
                    {% endif %}
                {% else %}
                <a href="{{ path('user_login') }} ">
                    <i class="far fa-heart"></i>
                {% endif %}
                </a>
            </span>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <p class="badge rounded-pill bg-warning">
            <a href="{{ path('user_editFlat', {id: flat.id}) }}">
                <i class="far fa-edit"></i> Éditer
            </a>
        </p>
        {% endif %}
        <br>
        <div class="badge-price d-flex justify-content-between">
            <h2>
                <ion-icon name="location-outline"></ion-icon> {{ flat.city }}
            </h2>
            <p class="badgeounnet bg-warning coloor">
                <span class="fs-3">{{ flat.rent }}€&nbsp;</span> / pers
            </p>
        </div>
        
        <div>
            <p class="badge bg-danger rounded-pill p-2 fs-5">
                {{ (flat.furnished == 'yes') ? 'Meublé' : (flat.furnished == 'no') ? 'Non meublé' : 'Semi-meublé' }}
            </p>
            {% if flat.gender != null %}
                <p class="badge bg-danger rounded-pill p-2 fs-5">
                    Colocation 100% {{ (flat.gender == 'men') ? 'masculine' : (flat.gender == 'women') ? 'féminine' : 'mixte' }}
                </p>
            {% endif %}
            
        </div>
        
        
        <br>
        <br>
        
        <div>
            <span>
                {% if flat.freeSpace > 1 %}
                {{ flat.freeSpace }} places disponibles
                {% else %}
                {{ flat.freeSpace }} place disponible
                {% endif %}
            </span>
        </div>
        
        <br>
        
        <div class="d-flex">
            <p>
                {{ flat.description }}    
            </p>
        </div>

        <div class="d-flex flex-column align-items-center mb-3">
            <button id="see-user-mail" class="btn btn-outline-danger contact-color border border-dark rounded-pill p-2">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                Contacter {{flat.owner.firstname}}
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </button>
        </div>
        <div id="user-mail" class="text-center hidden">         
            {% if app.user %}
            {{ form_start(form) }}
            {{ form_row(form.message)}}
            {{ form_row(form.submit)}}
            {{ form_end(form) }}
            {% else %}
            <p class="mt-3">Pour contacter {{ flat.owner.firstname}} vous devez être connecté</p>
            <button class="btn-outline"><a href="{{ path('user_login')}}" >Me connecter</a></button>
            {% endif %}
        </div>
        
    </div>
</div>


{% endblock %}