{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Trouver une colocation, un colocataire facilement et gratuitement{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/flat/flat.css') }}">{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    


    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            {% for key, image in flat.images %}
            <div {% if key == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %} style="background-image: url({{image}})">
                <!-- <img src= {{ image|e }}  class="img-fluid" alt="..."> -->
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>



    <!-- {% for key, image in flat.images %}

        <div>
            <img src= {{ image|e }}  class="d-block w-100" alt="...">
        </div>

    {% endfor %} -->
    
</div>

<br>

<h1>{{ flat.type }} - {{ flat.surface }}m² - {{ flat.totalSpace }}Pers</h1>
<div class="sub-title">
    <p>Proposé par {{flat.owner.firstname}}</p>
    <span>
        {% if app.user %}
        <a href="{{ path('flat_favorite', { id:flat.id })}} ">
            {% if isFav %}
            <i class="fas fa-heart"></i>
            {% else %}
            <i class="far fa-heart"></i>
            {% endif %}
        {% else %}
        <a href="{{ path('user_login') }} ">
            <i class="far fa-heart"></i>
        {% endif %}
        </a>
    </span>
</div>


<br>
<div class="d-flex justify-content-between">
    <h2>
        <ion-icon name="location-outline"></ion-icon> {{ flat.city }}
    </h2>
    <p class="badge bg-warning w-25 p-3 fs-3">
        {{ flat.rent }}€/pers
    </p>
</div>

<div>
    <p class="badge bg-danger rounded-pill p-2 fs-5">
       {{ flat.furnished }}
    </p>
    <p class="badge bg-danger rounded-pill p-2 fs-5">
        {{ flat.gender }}
    </p>
    {% if is_granted('ROLE_ADMIN') %}
        <p>
        <!-- lien a mettre pour edition de contenu, par defaut role_admin  -->
        editer
        </p>
    {% endif %}
    
</div>


<br>
<br>

<div>
    <span>

        {% if flat.freeSpace > 1 %}
        {{ flat.freeSpace }} places disponibles
        {% else %}
        {{ flat.freeSpace }} place disponible
        {% endif %}
        
    </span>
</div>

<br>

<div class="d-flex">
    <p>
        {{ flat.description }}    
    </p>
</div>

<div class="d-flex justify-content-center">
    <p class="btn btn-outline-danger border border-dark rounded-pill p-2">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        Contacter {{flat.owner.firstname}}
        <ion-icon name="chevron-forward-outline"></ion-icon>
    </p>
</div>

{% endblock %}