<footer class="container">
    <div class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2021–{{ "now"|date("Y")}} Coolok</p>
        <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Mentions légales</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </div>
</footer>

<div class="footer">
    <div class="nav-bottom">
        <ul>
            <li id="nav-home" class="nav-bottom-list {{ app.request.get('_route') == 'main_index' ? 'nav-active' }}">
                <a href="{{ path('main_index') }}">
                    <span class="nav-bottom-icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="nav-bottom-text">Accueil</span>
                </a>
            </li>
            <li id="nav-coolok" class="nav-bottom-list">
                <a href="#">
                    <span class="nav-bottom-icon">
                        <svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px'><path d="M15,2c-1.6,0-3.1,0.7-4.2,1.7c0.8,0.2,1.5,0.5,2.1,0.9C13.5,4.2,14.2,4,15,4c2.2,0,4,1.8,4,4v5c0,2.2-1.8,4-4,4s-4-1.8-4-4  V9.5c-0.5-0.6-1.2-1-2-1V13c0,3.3,2.7,6,6,6s6-2.7,6-6V8C21,4.7,18.3,2,15,2z"/><path d="M9,22c1.6,0,3.1-0.7,4.2-1.7c-0.8-0.2-1.5-0.5-2.1-0.9C10.5,19.8,9.8,20,9,20c-2.2,0-4-1.8-4-4v-5c0-2.2,1.8-4,4-4  s4,1.8,4,4v3.5c0.5,0.6,1.2,1,2,1V11c0-3.3-2.7-6-6-6s-6,2.7-6,6v5C3,19.3,5.7,22,9,22z"/></svg>
                    </span>
                    <span class="nav-bottom-text">Coolok</span>
                </a>
            </li>
            <li id="nav-search" class="nav-bottom-list">
                <a href="#">
                    <span class="nav-bottom-icon">
                        <ion-icon name="search-outline"></ion-icon>
                    </span>
                    <span class="nav-bottom-text">Recherche</span>
                </a>
            </li>
            <li id="nav-profil" class="nav-bottom-list {{ app.request.get('_route') == 'user_profil' ? 'nav-active' }}">
                <a href="{{ path('user_profil') }}">
                    <span class="nav-bottom-icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                    <span class="nav-bottom-text">Profil</span>
                </a>
            </li>
            <div class="nav-indicator"></div>
        </ul>
    </div>
</div>

