<footer class="container">
    <div class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2021–{{ "now"|date("Y")}} Coolok</p>
        <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Mentions légales</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </div>
</footer>

<div class="footer">
    <div class="nav-bottom">
        <ul>
            <li id="nav-home" class="nav-bottom-list {{ app.request.get('_route') == 'main_index' ? 'nav-active' }}">
                <a href="{{ path('main_index') }}">
                    <span class="nav-bottom-icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="nav-bottom-text">Accueil</span>
                </a>
            </li>
            <li id="nav-coolok" class="nav-bottom-list {{ app.request.get('_route') == 'user_favorites' ? 'nav-active' }}">
                {% if app.user %}
                <a href="{{ path('user_favorites') }}">
                {% else %}
                <a href="{{ path('user_login') }}">
                {% endif %}
                    <span class="nav-bottom-icon">
                        <ion-icon name="heart-outline"></ion-icon>
                    </span>
                    <span class="nav-bottom-text">Favoris</span>
                </a>
            </li>
            <li id="nav-search" class="nav-bottom-list">
                <a href="#">
                    <span class="nav-bottom-icon">
                        <ion-icon name="search-outline"></ion-icon>
                    </span>
                    <span class="nav-bottom-text">Recherche</span>
                </a>
            </li>
            <li id="nav-profil" class="nav-bottom-list {{ app.request.get('_route') == 'user_profil' ? 'nav-active' }}">
                {% if app.user %}
                <a href="{{ path('user_profil')}}">
                {% else %}
                <a href="{{ path('user_login') }}">
                {% endif %}
                    <span class="nav-bottom-icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                    <span class="nav-bottom-text">Profil</span>
                </a>
            </li>
            {% if app.request.get('_route') == 'main_index' 
            or app.request.get('_route') == 'user_favorites' 
            or app.request.get('_route') == 'user_profil' 
            %}
            <div class="nav-indicator"></div>
            {% endif %}
        </ul>
    </div>
</div>

