<header>
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path('main_index') }}"><img src="https://coolokbucket.s3.eu-west-3.amazonaws.com/images/logo_coolok.png" style="height:30px;" alt="Logo Coolok"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'main_index' ? 'active' }}" aria-current="page" href="{{ path('main_index') }}">Accueil</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'flat_allFlat' ? 'active' }}" href="{{ path('flat_allFlat')}}"><ion-icon name="business-outline"></ion-icon> Logements</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'user_favorites' ? 'active' }}" href="{{ path('user_match') }}"><ion-icon name="magnet-outline"></ion-icon> Mes Matchs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'user_favorites' ? 'active' }}" href="{{ path('user_favorites') }}"><ion-icon name="heart-outline"></ion-icon> Favoris</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'user_profil' ? 'active' }}" href="{{ path('user_profil')}}"><ion-icon name="person-outline"> </ion-icon>Mon Compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'app_logout' ? 'active' }}" href="{{ path('app_logout')}}"><ion-icon name="exit-outline"></ion-icon> Déconnexion</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'user_login' ? 'active' }}" href="{{ path('user_login') }}"><ion-icon name="enter-outline"></ion-icon> Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'user_register' ? 'active' }}" href="{{ path('user_register') }}"><ion-icon name="person-add-outline"></ion-icon> Inscription</a>
                </li>
                {% endif %}
                </ul>
                <form class="d-flex" action="{{ path('search') }}" method="get">

                    <label for="search" hidden>Saisir votre recherche</label>
                    <input type="search" id="search_flat_query" name="search_flat[query]" class="form-search" placeholder="Saisir votre recherche" aria-label="Saisir votre recherche">
                
                    <button type="submit" id="search_flat_submit" name="search_flat[submit]" class="btn-search" aria-label="Rechercher">Rechercher</button>
                
                </form>

                
            </div>
            </div>
        </nav>
</header>