{% extends 'base.html.twig' %}

{% block title %}
    {{ isNew ? 'Créer' : 'Modifier' }} Logement - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/form.css') }}">
{% endblock %}

{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCPNnOtaburBLkxWi5AKIhwF58oFvWway0"></script>
<script src="{{ asset('js/flat.js') }} " defer></script>
{% endblock %}


{% block body %}
<h1>{{ isNew ? 'Création' : 'Modification' }}   Logement</h1>
<div class="form">
        {{ form_start(form) }}
        <div class="form-row">
            {{ form_row(form.type) }}
        </div>
        <div class="form-row">
            {{ form_row(form.furnished) }}
        </div>
        <div class="form-row">
            {{ form_row(form.free_space) }}
        </div>
        <div class="form-row">
            {{ form_row(form.total_space) }}
        </div>
        <div class="form_row">
            <label for="city_autocomplete">Adresse du logement (seule la ville sera visible)</label>
            <input class ="input-round mb-3" type="text" id="city_autocomplete" placeholder="22 rue des peupliers 59800 Lille" required>
            {{ form_row(form.city) }}
            {{ form_row(form.zipcode) }}
        </div>
        <div class="form-row">
            {{ form_row(form.surface) }}
        </div>
        <div class="form-row">
            {{ form_row(form.rooms) }}
        </div>
        <div class="form-row">
            {{ form_row(form.rent) }}
        </div>
        <div class="form-row">
            {{ form_row(form.description) }}
        </div>
        <div class="form-row">
            {{ form_row(form.gender) }}
        </div>
        <div class="form-row">
            {{ form_row(form.available) }}
        </div>
        <div class="form-row">
            {{ form_row(form.images) }}
        </div>
        <div class="form-end">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
</div>
{% endblock %}