{% extends 'base.html.twig' %}

{% block title %}
    {{ isNew ? 'Créer' : 'Modifier' }} Logement - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/form.css') }}">
{% endblock %}

{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCPNnOtaburBLkxWi5AKIhwF58oFvWway0"></script>
{% endblock %}


{% block body %}
<h1>{{ isNew ? 'Création' : 'Modification' }}   Logement</h1>
<div class="form">
        {{ form_start(form) }}
        <div class="form-row">
            {{ form_row(form.type) }}
        </div>
        <div class="form-row">
            {{ form_row(form.furnished) }}
        </div>
        <div class="form_group">
            <label for="city_autocomplete">Emplacement du logement</label>
            <input class ="form-control mb-4" type="text" id="city_autocomplete"
            {{ form_row(form.city) }}
        </div>
        <div class="form-row">
            {{ form_row(form.surface) }}
        </div>
        <div class="form-row">
            {{ form_row(form.rooms) }}
        </div>
        <div class="form-row">
            {{ form_row(form.rent) }}
        </div>
        <div class="form-row">
            {{ form_row(form.description) }}
        </div>
        <div class="form-row">
            {{ form_row(form.gender) }}
        </div>
        <div class="form-row">
            {{ form_row(form.available) }}
        </div>
        <div class="form-row">
            {{ form_row(form.images) }}
        </div>
        <div class="form-end">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
</div>
{% endblock %}