{% extends 'base.html.twig' %}
{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCPNnOtaburBLkxWi5AKIhwF58oFvWway0"></script>
<script src="{{ asset('js/edit_account.js') }} " defer></script>
{% endblock %}
{% block title %}Editer mon profil - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="col col-md-6">

                {% if profil.firstname == null %}
                <h1 class="text-center fs-2 mt-3">Mon profil</h1>
                <p>Renseignez vos informations afin de pouvoir contacter des cooloks et être visible des utilisateurs.</p>
                {% else %}
                <div class="d-flex justify-content-between mt-3">
                    <h1 class="text-center fs-2">Editer</h1>
                    <a class="align-self-center fs-4 ms-3" href="{{ path('user_profil') }}">
                        Annuler <ion-icon name="close-outline"></ion-icon>
                    </a>
                </div>
                {% endif %}

                {{ form_start(form) }}
                {% if profil.picture %}
                <div class="form_group text-center">
                    <img class="img-min" src="/uploads/images/{{ profil.picture }}" alt="Photo {{ profil.firstname }}">
                </div>
                {% endif %}
                <div class="form_group ">
                    {{ form_row(form.picture) }}
                </div>
                <div class="form_group">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="form_group">
                    {{ form_row(form.lastname) }}
                </div>
                <div class="form_group">
                    <label for="city_autocomplete">Votre emplacement</label>
                    <input class="form-control mb-4" type="text" id="city_autocomplete" name="city_autocomplete" placeholder="Paris" required>
                    {{ form_row(form.city) }}
                    
                </div>
                <div class="form_group">
                    {{ form_row(form.description) }}
                </div>
                <div class="form_group">
                    {{ form_row(form.passions) }}
                </div>
                <div class="form_group">
                    {{ form_row(form.option_search) }}
                </div>
                <div class="form_check">
                    {{ form_row(form.available) }}
                </div>
                <div class="form_group">
                    {{ form_row(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
