{% extends 'base.html.twig' %}
{% block title %}Mon Compte - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/profil.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="col col-lg-6">
                <div class="d-flex justify-content-between mt-3">
                    <h1 class="text-center fs-2">Mon profil</h1>
                    <a class="align-self-center fs-4 ms-3" href="{{ path('user_edit') }}">
                        Modifier <ion-icon name="create-outline"></ion-icon>
                    </a>
                </div>
                <div class="img">
                    <img class="photo" src="/uploads/images/{{ user.picture }}" alt="Photo {{ user.firstname }}">
                </div>
                <div class="me text-center">
                    <p><strong>{{ user.firstname }} {{ user.lastname }}</strong> - {{ userAge }} ans</p>
                </div>
                <div class="me fs-4">
                    <ion-icon name="location-outline"></ion-icon>{{ user.city }}
                </div>
                <hr>
            <h2>À propos de moi</h2>
                <div>
                    <p>{{ user.description }}</p>
                </div>
            <h2>Passions</h2>
                <div>
                    <p>{{ user.passions }}</p>
                </div>
            <h2>Date de naissance</h2>
                <div>
                    <p>{{ user.birthday|date("d/m/Y") }}</p>
                </div>
                <hr>
            {# 
            <section class="langue">
                <h2>Je parle</h2>
                    <article>
                        <img src="#" alt="Drapeau FR">
                        <h3>Français</h3>
                    </article>
                    <article>
                        <img src="#" alt="Drapeau GR">
                        <h3>Allemand</h3>
                    </article>
                    <article>
                        <img src="#" alt="Drapeau RU">
                        <h3>Russe</h3>
                    </article>
            </section> #}
                <div class="perso">
                    <h2>Mon logement</h2>
                    <a href="#"><ion-icon name="chevron-forward-outline"></ion-icon></a>
                </div>
                <h3>Pas encore de Logement ?</h3>
                <a href="{{ path('user_AddFlat') }}"><button type="button" class="btn btn-success">Ajoute un logement ici</button></a>
                {# <div class="perso">
                    <h2>Mes préférences</h2>
                        <a href="#"><ion-icon name="chevron-forward-outline"></ion-icon></a>
                </div> #}
                <div class="desac">
                    {% if user.available == true %}
                    <a href="{{ path('user_desactivation') }}"><button type="button" class="btn btn-outline-warning coloor">Désactiver le compte</button></a>
                    {% else %}
                    <a href="{{ path('user_activation') }}"><button type="button" class="btn btn-outline-secondary coloor">Activer le compte</button></a>
                    {% endif %}
                </div>
                <div class="delete">
                    <a class="supp" href="{{ path('user_delete') }} ">Supprimer le compte</a>
                </div>
            </div>
        </div> 

    </div>
</div>
    

{% endblock %}