{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/form.css') }}">
{% endblock %}
{% block script %} <script src="{{ asset('js/form.js') }} " defer></script> {% endblock %}

{% block body %}
<h1 class="h3 my-3 font-weight-normal">Inscription</h1>
    <div class="form">
        {{ form_start(form) }}
        <div class="form-row">
            {{ form_row(form.email) }}
        </div>
        <div class="form-row form-password">
            {{ form_row(form.plainPassword) }}
            <span class="show-password"><i id="toggle_show" class="fas fa-eye"></i></span>
        </div>
        <div class="form-row">
            {{ form_row(form.birthday) }}
        </div>
        <div class="form-row">
            <div>
                {{ form_errors(form.cgu) }}
                {{ form_widget(form.cgu) }}
                {{ form_label(form.cgu) }}
            </div>
        </div>
        <div class="form-end">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
    
    <div class="outform">
        <a href="{{ path('user_login') }}" class="btn-outline">Connexion</a>
    </div>


{% endblock %}